body {
  margin: 0 auto;
  background-color:rgb(99, 150, 216);
}

h1 {
  font-size: 69px;
  color: #ef5e78;
  text-align: center;
  padding-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  margin: auto 700px;
}

input {
  padding: 15px;

}

button {
  padding: 13px;
}
.conver:hover {
background-color: #a5b0e740;
}

#cont2 {
  padding: 20px 100px;
  border: solid 2px #fff;
  background-color: #d5d7e2;
  color: #000;
}